<body>
<div class = "container">
    <div class = "banner">
        <div class = "app-text">
            <h1>Welcome to Photo-App!<br>Click any image below to view a post!</h1>
        </div>
        <div class = "app-pictures">
            <div class="row">
                <div class="column">
                    <a href = {{ imageLink }}><img src = "images/SpongeWaveAnimation.gif"></a>
                </div>
                <div class="column">
                    <a href = {{ imageLink }}><img src = "images/SpongeWaveAnimation.gif"></a>
                </div>
                <div class="column">
                    <a href = {{ imageLink }}><img src = "images/SpongeWaveAnimation.gif"></a>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <a href = {{ imageLink }}><img src = "images/SpongeWaveAnimation.gif"></a>
                </div>
                <div class="column">
                    <a href = {{ imageLink }}><img src = "images/SpongeWaveAnimation.gif"></a>
                </div>
                <div class="column">
                    <a href = {{ imageLink }}><img src = "images/SpongeWaveAnimation.gif"></a>
                </div>
            </div>

        </div>
    </div>
</div>
</body>